<!DOCTYPE html>
<html>
  <head>
    <title>Senior Digital Literacy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .main-layout {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }
      .content {
        flex: 1;
      }
      footer {
        text-align: center;
        padding: 1em 0;
        background: #1e1e1e;
      }
    </style>
  </head>

  <body>
    <div class="main-layout">
      <header>
        <h1>Senior Digital Literacy</h1>
      </header>
      <div class="content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
